.navbar{
                background-color: black;
                overflow: hidden;
                padding: 0px;
            }
            .navbar li{
                list-style-type: none;
                float: left;
                color: white
            }
            .navbar a{
                color: inherit;
                text-decoration: none;
                font-size: 24px;
                padding: 16px;
                display: inline-block;
            }
            .navbar li:hover:not(#name) {
                background-color: red;
            }
            .dropdown-content li {
                    float: none;
            }
            .dropdown-content {
                    padding: 0px;
                    background-color: black;
                    display: none;
            }
            .dropdown:hover .dropdown-content{
                display: block;
                position: absolute;
            }
            .navbar .active{
                background-color: white
            }

            .name{
                float: right;
            }

            body {
                background-color: black;
                color: white;
            }
            h1 {
            background-color: black;
            color:#A6A5A5;
            }
            tr {
            background-color: white;
            }
            li {
                background-color: #111010;
            }
            td {
            color:black;
            }
            .img {
            background-color:black; 
            }
            .indextext {
            background-color:black; 
            }
            p {
            color:white;
            }

            #container{
            position: absolute;
            left: 0px;
            right: 0ps;
            top: 90px;
            bottom: 0px;
            background-color: red;
            }
            
            #left_pane{
            background-color: green;
            height: 100%;
            width: 56%;
            float: left;
            }

            #right_pane{
            background-color: blue;
            height: 100%;
            width: 44%;
            float: left;
            }

            #story_text{
            background-color: yellow;
            height: 80%;
            }

            #button_choices{
            
            }